{{- $email := promptStringOnce . "email" "What's your email" }}
{{- $git_name := promptStringOnce . "git_name" "What's your Git name" }}

{{- $shell := promptBoolOnce . "features.shell" "Do you want to install the Fish shell" true }}
{{- $git := promptBoolOnce . "features.git" "Do you want to install Git" true }}
{{- $editor := promptBoolOnce . "features.editor" "Do you want to install Neovim" true }}
{{- $nix := promptBoolOnce . "features.editor" "Do you want to install the Nix package manager" true }}

{{- $paru := false -}}
{{ if eq .chezmoi.osRelease.id "arch" -}}
  {{- $paru = promptBoolOnce . "features.editor" "Do you want to install the Paru package manager" true -}}
{{- end }}

[data]
email = {{ $email | quote }}
git_name = {{ $git_name | quote }}

[data.features]
shell = {{ $shell }}
git = {{ $git }}
editor = {{ $editor }}
nix = {{ $nix }}
paru = {{ $paru }}
