- name: Install Fish shell on Arch
  become: true
  ansible.builtin.pacman:
    name: fish
  when: chezmoi.osRelease.id == "arch"

- name: Find Fish shell binary
  command: which fish
  register: fish_path
  changed_when: false
  failed_when: fish_path.rc != 0

- name: Set the user's shell
  become: true
  ansible.builtin.user:
    name: "{{ chezmoi.username }}"
    shell: "{{ fish_path.stdout }}"
