[user]
email = {{ .email }}
name = {{ .git_name }}

[init]
defaultBranch = main

[merge]
ff = true

{{- $credentialHelperPath := "" }}
{{- if eq .chezmoi.osRelease.id "arch" }}
{{-   $credentialHelperPath = "/usr/lib/git-core/git-credential-libsecret" }}
{{- end }}

{{- if $credentialHelperPath }}
[credential]
helper = {{ $credentialHelperPath }}
{{- end }}
